In [1]:
import pandas as pd
import igraph as ig

In [2]:
df = pd.read_csv('../data/1_Template/CALLS.csv')
df.head()

      Source                 Time    Target
0  Elizabeth  2025-01-02 05:52:28  Laurence
1  Elizabeth  2025-01-02 14:09:18  Victoria
2       Yang  2025-01-02 17:26:01  Victoria
3   Laurence  2025-01-03 01:13:21  Victoria
4   Victoria  2025-01-03 02:52:52      Yang